@using NewStore.Application.Services.Orders.Queries.GerOrders
@model ResGetOrdersDto
@{
}

@foreach (var order in Model.Orders)
{
    <div class="flex flex-col shadow rounded-lg p-4 dark:bg-gray-800 bg-white mt-5">
        <span class="flex items-center gap-x-2">
            <img src="~/Customer/images/svg/status-delivered.svg" class="w-10" alt="">
            <h2 class="font-DanaMedium text-lg">تاریخ سفارش   @order.Date</h2>
        </span>
        <div class="relative mt-5 overflow-x-auto rounded-lg border border-gray-200 dark:border-gray-700">
            <table class="w-full text-sm text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700  bg-gray-100 dark:bg-gray-900 dark:text-gray-200">
                    <tr>
                        <th scope="col" class="px-6 py-3.5">
                            نام محصول
                        </th>
                        <th scope="col" class="px-6 py-3.5">
                            تعداد
                        </th>
                        <th scope="col" class="px-6 py-3.5">
                            قیمت
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in order.Items)
                    {
                        <tr class="bg-white border-b cursor-pointer dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 transition-all">
                            <th scope="row" class="px-6 py-5 font-medium text-gray-900 whitespace-nowrap dark:text-white flex items-center gap-x-2">
                                <img class="w-10 object-cover" src="/@item.ItemSrc" alt="">
                                @item.Title
                            </th>
                            <td class="px-6 py-5">
                                @item.Count
                            </td>
                            <td class="px-6 py-5">
                                @item.Price.ToString("n0") تومان
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}